.split {
  display: flex;
  justify-content: space-between;
}

.split:not(:first-child) {
  border-top: 1px solid black;
}

.cityWrapper {
  position: relative;
  text-align: initial;
}

.cityContainer {
  margin-top: 3rem;
  border: 2px solid black;
}

.cityField {
  text-align: left;
  width: 50%;
  padding: 0.5rem;
}

.cityField:first-child {
  border-right: 1px solid black;
}

.deleteBtn {
  position: absolute;
  top: 10px;
  right: -30px;
  font-size: 1.25rem;
}

.deleteBtn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.err {
  font-weight: 700;
  color: red;
  margin-top: 3rem;
  margin-bottom: 0;
}
