.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loginForm {
  max-width: 275px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
  font-family: "Quicksand";
}

.signIn {
  text-align: center;
}

.loginInput {
  margin: 0.5rem 0;
}

.loginSpan {
  font-weight: bold;
  font-size: 0.9rem;
}

.loginRequired {
  color: red;
  border: 0;
  font-weight: 700;
}

.input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: "Roboto", Sans-serif;
}

.input:focus {
  border: 1px solid #000;
}

.inputRequired {
  border: 2px solid red;
}

.inputError {
  color: red;
}

.loginBtn {
  text-decoration: none;
  display: inline-block;
  background-color: #00c119;
  color: #fff;
  padding: 10px 20px;
  margin-top: 1rem;
  border-radius: 5px;
  border: 0;
  font-weight: 700;
  font-family: "Quicksand";
  font-size: 1rem;
  width: 100%;
}

.loginBtn:hover {
  opacity: 0.8;
  cursor: pointer;
}
